@using Microsoft.Extensions.Logging
@inherits FileUploadBase;

<div @ref="FileDropContainer" class="file-drop-zone @HoverClass" 
     @ondragenter="OnDragEnter" 
     @ondragleave="OnDragLeave" 
     @ondragover="OnDragEnter">
    <InputFile OnChange="@LoadFiles" @ref="InputFile"/>
</div>
<div class="error-message-container">
    <p>@ErrorMessage</p>
</div>

@if (IsLoading)
{
    <DisplaySpinner/>
}
<div class="@HiddenButton">
    <p>Загрузка завершена. Скачать файл:</p>
    <a href="@BaseAddress/File/download/@ArchiveFileName" class="btn btn-success @HiddenButton">Скачать файл</a>
</div>

